html {
  margin: 0;
  padding: 0;
  border: 0;
}

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
body.bp p {
  margin: 0 0 1.5em;
}
body.bp p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
body.bp p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
body.bp a {
  text-decoration: underline;
  color: #0066cc;
}
body.bp a:visited {
  color: #004c99;
}
body.bp a:focus {
  color: #0099ff;
}
body.bp a:hover {
  color: #0099ff;
}
body.bp a:active {
  color: #bf00ff;
}
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
body.bp strong, body.bp dfn {
  font-weight: bold;
}
body.bp em, body.bp dfn {
  font-style: italic;
}
body.bp sup, body.bp sub {
  line-height: 0;
}
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
body.bp del {
  color: #666666;
}
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
body.bp li ul, body.bp li ol {
  margin: 0;
}
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
body.bp ul {
  list-style-type: disc;
}
body.bp ol {
  list-style-type: decimal;
}
body.bp dl {
  margin: 0 0 1.5em 0;
}
body.bp dl dt {
  font-weight: bold;
}
body.bp dd {
  margin-left: 1.5em;
}
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
body.bp th {
  font-weight: bold;
}
body.bp thead th {
  background: #c3d9ff;
}
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
body.bp table.striped tr:nth-child(even) td,
body.bp table tr.even td {
  background: #e5ecf9;
}
body.bp tfoot {
  font-style: italic;
}
body.bp caption {
  background: #eeeeee;
}
body.bp .quiet {
  color: #666666;
}
body.bp .loud {
  color: #111111;
}
body.bp .clear {
  clear: both;
}
body.bp .nowrap {
  white-space: nowrap;
}
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
body.bp .feedback, body.bp .error, body.bp .alert, body.bp .notice, body.bp .success, body.bp .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}
body.bp .error, body.bp .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
body.bp .error a, body.bp .alert a {
  color: #8a1f11;
}
body.bp .notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
body.bp .notice a {
  color: #514721;
}
body.bp .success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
body.bp .success a {
  color: #264409;
}
body.bp .info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
body.bp .info a {
  color: #205791;
}
body.bp .hide {
  display: none;
}
body.bp .highlight {
  background: yellow;
}
body.bp .added {
  background: #006600;
  color: white;
}
body.bp .removed {
  background: #990000;
  color: white;
}

form.bp label {
  font-weight: bold;
}
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
form.bp input.title {
  font-size: 1.5em;
}
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
form.bp select {
  margin: 0.5em 0;
}
form.bp fieldset {
  border: 1px solid #cccccc;
}
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus {
  border-color: #666666;
}
form.bp select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
form.bp textarea {
  width: 390px;
  height: 250px;
}

body.three-col #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
body.three-col #header, body.three-col #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
* html body.three-col #header, * html body.three-col #footer {
  overflow-x: hidden;
}
body.three-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
* html body.three-col #content {
  overflow-x: hidden;
}
body.three-col .members {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
body.three-col .members li {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
* html body.three-col .members li {
  overflow-x: hidden;
}
body.three-col .members li.last {
  display: inline;
  float: left;
  margin-right: 0;
  width: 430px;
}
* html body.three-col .members li.last {
  overflow-x: hidden;
}
body.three-col .presentations {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
body.three-col .presentations li {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
* html body.three-col .presentations li {
  overflow-x: hidden;
}
body.three-col .presentations li.last {
  display: inline;
  float: left;
  margin-right: 0;
  width: 430px;
}
* html body.three-col .presentations li.last {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background: #c3c3c3;
  color: #292929;
}

#container {
  margin: 0;
  padding: 0;
  background: white;
  background-right: "3px solid #EEEEEE";
  background-left: "3px solid #EEEEEE";
}

#header {
  margin: 2em 0 2em 0;
  text-align: center;
}
#header #renorb {
  height: 150px;
  background: url("/images/renorb-logo-web.png") no-repeat top center;
  text-indent: -9000px;
}
#header h1 {
  margin: 0;
  padding: 0;
  font-size: 2.25em;
  font-weight: bold;
  color: #292929;
  text-indent: 0px;
}

#footer {
  padding: 2em 0 2em 0;
}

#content {
  min-height: 500px;
  padding: 1em 0 0 0;
  background: white;
  color: #292929;
  text-align: center;
}
#content hr {
  width: 90%;
  border: 1px solid #eeeeee;
}
#content h2 {
  margin: 0.125em;
  padding: 0em;
  font-weight: bold;
}
#content h3 {
  margin: 0.25em;
  padding: 0em;
}
#content .title {
  font-weight: bold;
}
#content .summary,
#content .event {
  margin: 3em 0 1em 0;
  padding: 0 0 1em 0;
}
#content .description {
  font-size: 1.25em;
}
#content .description {
  text-align: center;
  width: 50%;
  margin: auto;
}
#content .summary {
  text-align: left;
  width: 50%;
  margin: auto;
  font-size: 1.5em;
}
#content .summary ul {
  list-style: none;
}
#content .summary ul li {
  list-style: none;
}
#content .event {
  text-align: center;
}
#content .event img {
  margin: 1em 0 0 0;
  border-width: 1px;
  border-color: #c3c3c3;
  border-style: solid;
}
#content .location {
  margin: 2em 0 1em 0;
  text-align: center;
}
#content .members {
  margin: 3.5em 0 2.5em 0;
  text-align: center;
}
#content .members h2 {
  margin-bottom: 1.5em;
}
#content .members img {
  border-color: #c3c3c3;
  border-style: solid;
}
#content .members ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#content .members li {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #dddddd;
  margin: 0;
  padding: 0.5em 0 1em 0;
  text-align: center;
}
#content .members li.last {
  border: none;
}
#content .presentations {
  margin: 3.5em 0 2.5em 0;
  text-align: center;
}
#content .presentations h2 {
  margin-bottom: 1.5em;
}
#content .presentations img {
  border-color: #c3c3c3;
  border-style: solid;
}
#content .presentations ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#content .presentations li {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #dddddd;
  margin: 0;
  padding: 0.5em 0 1em 0;
  text-align: center;
}
#content .presentations li.last {
  border: none;
}
#content #joinus {
  margin: 3.5em 0 2.5em 0;
  text-align: center;
}
#content #joinus h2 {
  margin-bottom: 1.5em;
}
#content #joinus ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#content #joinus li {
  margin: 0 0 0.5em 0;
  padding: 0;
  font-size: 1.5em;
}
